.popup-message-global {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3rem;
  font-weight: 600;
  text-align: center;
  z-index: 99999;
  &.success {
    color: rgb(129, 205, 133);
  }
  &.fail {
    color: rgb(217, 105, 105);
  }
}
