//? COLORS
$yellow: hsl(37, 100%, 97%);
$darkYellow: hsl(37, 100%, 90%);
$darkerYellow1: hsl(37, 100%, 85%);
$darkerYellow2: hsl(37, 100%, 80%);
$black: hsl(0, 0%, 16%);
$accentColor: hsl(349, 53%, 56%);

//? FONTS
$poppins: "Poppins", sans-serif;

//? MEDIA QUERIES
$mobile: 480px;
